In [1]:
pip install kaggle

Collecting kaggle
  Downloading kaggle-1.6.11.tar.gz (90 kB)
     ---------------------------------------- 0.0/90.6 kB ? eta -:--:--
     ------------ ------------------------- 30.7/90.6 kB 660.6 kB/s eta 0:00:01
     ---------------------------------------- 90.6/90.6 kB 1.0 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six>=1.10 in c:\app4\app4\feeds\anaconda\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\app4\app4\feeds\anaconda\lib\site-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in c:\app4\app4\feeds\anaconda\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\app4\app4\feeds\anaconda\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\app4\app4\feeds\anaconda\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in c:\app4\app4\feeds\anaconda\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\app4\app4\feeds\anaconda\lib\site-packages (from kaggle) (1.26.16)
Requirement already satisfied: bleach in c:\app4\app4\feeds\anaconda\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\app4\app4\feeds\anaconda\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: webencodings in c:\app4\app4\feeds\anaconda\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\app4\app4\feeds\anaconda\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\app4\app4\feeds\anaconda\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\app4\app4\feeds\anaconda\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\app4\app4\feeds\anaconda\lib\site-packages (from tqdm->kaggle) (0.4.6)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.6.11-py3-none-any.whl size=114559 sha256=b7605a4360b489ad522db597bfac3aca046b8d2ab76b0e5e4d3d6dd2f4c48444
  Stored in directory: c:\users\kuldeep verma\appdata\local\pip\cache\wheels\46\c8\9a\2fbdf500d873df2b62cdae4a3d83b0a687419cc0cdc13e99c8
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.6.11
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\kuldeep
[nltk_data]     verma\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [5]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [7]:
# data processing
# loading data from csv file
twitter_data=pd.read_csv('training.1600000.processed.noemoticon.csv',encoding='ISO-8859-1')

In [8]:
twitter_data

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
...,...,...,...,...,...,...
1599994,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599995,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599996,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599997,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599998,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [9]:
twitter_data.head(5)

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [10]:
# nameing the the column
column_name=['target','id','date','flag','user','text']
twitter_data=pd.read_csv('training.1600000.processed.noemoticon.csv',names=column_name,encoding='ISO-8859-1')

In [11]:
twitter_data

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [12]:
# finfd the number of missing value
twitter_data.isnull().sum()

target    0
id        0
date      0
flag      0
user      0
text      0
dtype: int64

In [13]:
# check the distrubution of data sets
twitter_data['target'].value_counts()

target
0    800000
4    800000
Name: count, dtype: int64

In [14]:
twitter_data.replace({'target':{4:1}},inplace=True)

In [15]:
# check the distrubution of data sets
twitter_data['target'].value_counts()

target
0    800000
1    800000
Name: count, dtype: int64

In [16]:
#stemming is process reducing a word its roots word
port_stem=PorterStemmer()

In [17]:
def stemming(content):
  stemmed_content=re.sub('[^a-zA-Z]',' ',content)
  stemmed_content=stemmed_content.lower()
  stemmed_content=stemmed_content.split()
  stemmed_content=[port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
  stemmed_content=' '.join(stemmed_content)

  return stemmed_content

In [18]:
twitter_data['stemmed_content']=twitter_data['text'].apply(stemming)

In [19]:
twitter_data.head()

,target,id,date,flag,user,text,stemmed_content
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",switchfoot http twitpic com zl awww bummer sho...
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,upset updat facebook text might cri result sch...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,kenichan dive mani time ball manag save rest g...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,whole bodi feel itchi like fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",nationwideclass behav mad see

In [20]:
print(twitter_data['stemmed_content'][0])

switchfoot http twitpic com zl awww bummer shoulda got david carr third day

In [93]:
# separating the data and lable 
X=twitter_data['stemmed_content'].values
Y=twitter_data['target'].values

In [63]:
print(X.shape)

(1600000,)

In [64]:
print(Y.shape)

(1600000,)

In [94]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [66]:
X_train.shape

(1280000,)

In [27]:
X_test.shape

(320000,)

In [29]:
y_train.shape

(1280000,)

In [31]:
y_test.shape

(320000,)

In [96]:
# converting textual data into numerical data

vectorizer=TfidfVectorizer()

X_train=vectorizer.fit_transform(X_train)
X_test=vectorizer.transform(X_test)

In [97]:
X_train.shape

(1280000, 461488)

In [98]:
X_test.shape

(320000, 461488)

In [49]:
#X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [50]:
X_train.shape

(1280000, 532699)

In [51]:
X_test.shape

(320000, 532699)

In [77]:
# training machine learning model
lr=LogisticRegression(max_iter=1000)

In [78]:
lr.fit(X_train,y_train)

LogisticRegression(max_iter=1000)

In [79]:
# accuracy score on training data
X_train_prediction=lr.predict(X_train)
training_data_accuracy=accuracy_score(y_train,X_train_prediction)

In [80]:
print(training_data_accuracy)

0.8101921875

In [81]:
# accuracy score on training data
X_test_prediction=lr.predict(X_test)
testing_data_accuracy=accuracy_score(y_test,X_test_prediction)

In [82]:
print(testing_data_accuracy)

0.777971875

In [83]:
import pickle

In [101]:
filename='trained_model'
#pickle.dump(lr,open(filename,'wb'))
pickle.dump(vectorizer,open('vectorizer','wb'))

In [61]:
x_new=X_test[100]
print(y_test[100])

prediction=lr.predict(x_new)
print(prediction)

0
[0]

In [92]:
text_data = ['fuck ']
df = pd.DataFrame({'text': text_data})
df=vectorizer.transform(df)
print(df.shape)

(1, 1)